/** \file
 * The SPWaW war cabinet - build information.
 *
 * Copyright (C) 2005-2016 Erik Cumps <erik.cumps@gmail.com>
 *
 * License: GPL v2
 */

const char *BLD_BUILD = "0";
const char *BLD_DATE = __DATE__;
const char *BLD_TIME = __TIME__;
